
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
    font-family: 'Open Sans', sans-serif;
    
    
}

body{
    
    min-height: 100vh;
    min-width: 100vw;
    /* background: linear-gradient(45deg,#00c6ff,#363795); */
    /* background: linear-gradient(45deg,#088b4a,#369578); */
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    /*background-image: url(resources/img.jpg);*/    
    background-size:cover;
    background-position: center;    
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;  
}


form{
    display:flex;
    flex-direction: column;
}



main.container{
    background-color: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 7px 5px 15px rgba(14, 29, 37, 0.58);
    border-radius: 8px;    
}

main h2{
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
}
main h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg,#056e3a,#369578);
}

.footer i{    
    font-weight: bold;   
    
}
.footer{   
    display: flex;
    /*justify-content: center;*/
    
}
.footer .fcontent{
    /*justify-content: center;*/
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    

}

.fcontent img{
    filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%)
}

.input-field{
    position: relative;
}

.input-field input{         
    outline: none;
    width: 15rem;
    margin-bottom: 0.3rem;        
    border-radius: 10px;    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;    
    font-size: 0.9rem;   
}



form.input-field:first-child{
    margin-bottom: 2rem;
}
.input-field .underline{
    margin-bottom: 1rem;
}
.input-field .underline::before{
    content:'';
    position: absolute;    
    height: 1px;
    width: 100%;
    background: rgba(13, 58, 116, 0.3);
    left: 0;

}

main button{
    background:linear-gradient(90deg,#088b4a,#369578);
    color:aliceblue;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;    
    font-weight: bold;
    font-size: 1rem;
    height: 2rem;
}

.table-tools{
    border: 10px;
}


